.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-title {
  font-weight: bold;
  align-self: flex-start;
  font-size: 20px;
}

.grp-name {
  width: 100%;
  display: flex;
  gap: 20px;
}

.grp-title {
  font-weight: bold;
}

.grp-name input {
  padding: 5px 12px;
  width: 250px;
  border: 1px solid gray;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
}

.color-name {
  width: 100%;
  display: flex;
  gap: 20px;
}

.color-title {
  font-weight: bold;
}

.color-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-container li {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

label {
  color: red;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.create-btn {
  background-color: black;
  color: white;
  padding: 5px 30px;
  border-radius: 7px;
  border: none;
  align-self: flex-end;
}

@media (max-width: 425px) {
  .form {
    border-radius: 10px;
    gap: 20px;
    padding: 14px 14px;
  }

  .grp-name {
    width: 100%;
    display: flex;
    gap: 12px;
  }

  .grp-title {
    font-size: 15px;
    font-weight: bold;
  }

  .grp-name input {
    padding: 5px 12px;
    width: 175px;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    font-size: 13px;
  }

  .color-name {
    width: 100%;
    display: flex;
    gap: 12px;
  }

  .color-title {
    font-weight: bold;
    font-size: 15px;
  }

  .color-container {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7px;
  }

  .color-container li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  label {
    color: red;
    font-size: 12px;
  }

  .create-btn {
    width: 70%;
    align-self: center;
    font-size: 20px;
  }
}
